<div class="container">
    <h2 class="text-info text-center">eWallet</h2>
    <hr />
    <c-card class="mb-4 card">
        <c-card-header class="card-header" style="font-family: Roboto;font-weight: 900;font-size: larger"
            align="center">
            Balance:
        </c-card-header>
        <table bordered cTable>
            <thead cTableColor="light">
                <tr>
                    <th style="width:1px" scope="col">SGD($)</th>
                    <th style="width:600px;text-align: center;" scope="col">{{balance}}</th>
                    <th style="width:1px" scope="col">
                        <button [cModalToggle]="staticBackdropModal.id" cButton color="primary" size="sm" class="rounded-pill">Top Up</button>
                    </th>
                </tr>
            </thead>
        </table>
    </c-card>
    <hr />
    <c-card class="mb-4 card">
        <c-card-header class="card-header" style="font-family: Roboto;font-weight: 900;font-size: larger"
            align="center">
            Past Transactions
        </c-card-header>
        <table bordered cTable [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable
            class="mb-0 border">
            <thead cTableColor="light">
                <tr>
                    <th>Id <button style="border-style: none;background-color: white;" (click)="onSort(1)"> <svg cIcon
                                [name]="iconType"></svg></button></th>
                    <th>Name <button style="border-style: none;background-color: white;" (click)="onSort(2)"> <svg cIcon
                                [name]="iconType"></svg></button></th>
                    <th>Payment Method <button style="border-style: none;background-color: white;" (click)="onSort(3)"> <svg cIcon
                                [name]="iconType"></svg></button></th>
                    <th>Amount <button style="border-style: none;background-color: white;" (click)="onSort(4)"> <svg cIcon
                                [name]="iconType"></svg></button></th>
                    <th>Date/Time <button style="border-style: none;background-color: white;" (click)="onSort(5)"> <svg
                                cIcon [name]="iconType"></svg></button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersData; index as i">
                    <td>
                        <div>{{ user.topUpHistoryID }}</div>
                    </td>
                    <td>
                        <div>{{ user.custName }}</div>
                    </td>
                    <td>
                        {{ user.paymentMethodDesc }}
                    </td>
                    <td>
                        <div>{{ user.topUpAmount}}</div>
                    </td>
                    <td>
                        <div>{{ user.creationDateTime | date: 'yyyy-MM-dd HH:mm'}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <c-pagination aria-label="Page-navigation example" align="end" role="'navigation'">
            <li cPageItem>
                <button class="p-2" cPageLink aria-label="Previous" (click)="onClickPrev()"
                    [disabled]="disablePrev"><span aria-hiddent="true">&laquo;</span></button>
            </li>
            <li cPageItem>
                <div class="p-2 border">Page {{currPage}} of {{maxPage}}</div>
            </li>
            <li cPageItem>
                <button class="p-2" cPageLink aria-label="Next" (click)="onClickNext()" [disabled]="disableNext"><span
                        aria-hidden="true">&raquo;</span></button>
            </li>
        </c-pagination>
    </c-card>
</div>



<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
    <c-modal-header>
        <h5 cModalTitle>Confirmation</h5>
        <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        Please select payment Method<br>
        Amount(SGD) :<input type="number" maxlength="6" [(ngModel)]="amount" class="position-absolute end-35"/> <br><br>
        Method of Payment: <select (change)="onSelect()" [(ngModel)]="currPayment"><option selected="1" value={{x}} *ngFor="let x of paymentType;">{{x}}</option></select><br>
        <p *ngIf="currPayment==paymentType[2]||currPayment==paymentType[3]"> <br>
        Credit Card No:<input type="number" [(ngModel)]="creditCard" class="position-absolute end-35"/> <br><br>
        Expiry Date:<input type="Text" class="position-absolute end-35" maxlength="4"/><br><br>
        CVV No:<input type="Text" class="position-absolute end-35" maxlength="3"/><br><br>
        </p>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary" (click)="onTopUp()" [cModalToggle]="staticBackdropModal.id">Confirm</button>
    </c-modal-footer>
</c-modal>