<div class="container">
    <h2 class="text-info text-center">eWallet</h2>
    <hr />
    <c-card class="mb-4 card">
        <c-card-header class="card-header" style="font-family: Roboto;font-weight: 900;font-size: larger"
            align="center">
            Balance:
        </c-card-header>
        <table bordered cTable>
            <thead cTableColor="light">
                <tr>
                    <th style="width:1px" scope="col">SGD($)</th>
                    <th style="width:600px;text-align: center;" scope="col">{{balance}}</th>
                    <th style="width:1px" scope="col">
                        <button [cModalToggle]="staticBackdropModal.id" cButton color="primary" size="sm" class="rounded-pill">Top Up</button>
                    </th>
                </tr>
            </thead>
        </table>
    </c-card>
    <hr />
    <table mat-table [dataSource]="datasource" matSort matSortActive="creationDateTime" matSortDirection="desc">
        <ng-container matColumnDef="creationDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date/Time</th>
            <td mat-cell *matCellDef="let user">{{user.creationDateTime|date: 'dd MMM yyyy h:mm:ss a'}}</td>
        </ng-container>
        <ng-container matColumnDef="topUpHistoryID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by TransactionId">Transaction Id</th>
            <td mat-cell *matCellDef="let user">{{user.topUpHistoryID}}</td>
        </ng-container>
        <ng-container matColumnDef="paymentMethodDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Method</th>
            <td mat-cell *matCellDef="let user">{{user.paymentMethodDesc}}</td>
        </ng-container>
        <ng-container matColumnDef="topUpAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let user">{{user.topUpAmount|number:'1.2-2'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" aria-label="Select page of Transaction"></mat-paginator>
</div>



<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
    <c-modal-header>
        <h5 cModalTitle>Confirmation</h5>
        <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        Please select payment Method<br>
        Amount(SGD) :<input type="number" maxlength="6" [(ngModel)]="amount" class="position-absolute end-35"/> <br><br>
        Method of Payment: <select (change)="onSelect()" [(ngModel)]="currPayment"><option selected="1" value={{x}} *ngFor="let x of paymentType;">{{x}}</option></select><br>
        <p *ngIf="currPayment==paymentType[2]||currPayment==paymentType[3]"> <br>
        Credit Card No:<input type="number" [(ngModel)]="creditCard" class="position-absolute end-35"/> <br><br>
        Expiry Date:<input type="Text" class="position-absolute end-35" maxlength="4"/><br><br>
        CVV No:<input type="Text" class="position-absolute end-35" maxlength="3"/><br><br>
        </p>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary" (click)="onTopUp()" [cModalToggle]="staticBackdropModal.id">Confirm</button>
    </c-modal-footer>
</c-modal>