
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">

          <h1> Register </h1>
          <form>
            <div class="alert alert-success" role="alert">
              Your account is created successfully
            </div>
          </form>

          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>

            <hr class="my-4" />
          <button cButton class="me-1" color="primary" type="submit" routerLink="/dashboard">
            Login
          </button>
          <div>
          <button cButton class="px-0" color="link" routerLink="/login">  
            Click here to return to home page
          </button>
          </div>

        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
</div>
