

  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">

            <form #customStylesForm="ngForm"
            (ngSubmit)="onSubmit1()"
            [gutter]="3"
            [validated]="customStylesValidated"
            novalidate
            cForm cRow
            class="needs-validation">

            <h1>Register</h1>
              <p class="text-medium-emphasis">Create a User account</p>

            <c-col [md]="4">
            <label cLabel for="validationCustom01">First name</label>
            <input cFormControl id="validationCustom01" required type="text" />
            <c-form-feedback [valid]="false">Please enter a First Name</c-form-feedback>
            </c-col>
            
            <c-col [md]="4">
            <label cLabel for="validationCustom02">Last name</label>
            <input cFormControl id="validationCustom02" required type="text" />
            <c-form-feedback [valid]="false">Please enter a Last Name</c-form-feedback>
            </c-col>
    
            <c-col [md]="4">
            <label cLabel for="validationCustomUsername">Username</label>
            <c-input-group class="has-validation">
            <span cInputGroupText id="inputGroupPrepend">@</span>
            <input aria-describedby="inputGroupPrepend" cFormControl id="validationCustomUsername" required type="text"/>
            <c-form-feedback [valid]="false">Please enter a Username</c-form-feedback>
            </c-input-group>
            </c-col>

            <div>
              <c-col [md]="4">
              <label cLabel for="validationMobile">Mobile</label>
              <input cFormControl id="validationMobile" required type="phone" required ng-pattern="^(\([0-9]{3}\)|[0-9]{3}-)[0-9]{3}-[0-9]{4}$" maxlength="8"/>
              <c-form-feedback [valid]="false">Please enter a valid Mobile Number</c-form-feedback>
              </c-col>
            </div>

            <c-col [md]="6">
            <label cLabel for="validationCustom03">DOB</label>
            <input cFormControl id="validationCustom03" required type="date" />
            <c-form-feedback [valid]="false">Please enter a valid Date of Birth</c-form-feedback>
            </c-col>


          <!--
            <mat-form-field appearance="fill">
              <mat-label>Custom calendar header</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
            </mat-form-field>
          -->
            



            
            <div>
            <c-col [md]="3">
            <label cLabel for="validationCustom04">Email</label>
            <input cFormControl id="validationCustom04" required type="email" required ng-pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <c-form-feedback [valid]="false">Please enter a valid Email</c-form-feedback>
            </c-col>
            </div>  

            <div>
            <c-col [md]="3">
            <label cLabel for="validationCustom05">Password</label>
            <input cFormControl id="validationCustom05" required type="text" />
            <c-form-feedback [valid]="false">Please enter a valid password</c-form-feedback>
            </c-col>
            </div>  

            
            <div>
              <c-col [md]="3">
              <label cLabel for="validationCustom05">Re-enter Password</label>
              <input cFormControl id="validationCustom05" required type="text" />
              <c-form-feedback [valid]="false">Please enter a valid password</c-form-feedback>
              </c-col>
              </div>  

            <c-col [xs]="12">
            <c-form-check>
            <input cFormCheckInput id="invalidCheck" name="invalidCheck" required type="checkbox" />
            <label cFormCheckLabel for="invalidCheck">Agree to terms and conditions</label>
            </c-form-check>
            <c-form-feedback [valid]="false">You must agree before submitting</c-form-feedback>
            </c-col>
            <c-col [xs]="12">
            <button cButton class="me-1" color="primary" type="submit">
              Submit 
            </button>
            <button (click)="onReset1()" cButton color="secondary" type="reset">
              Reset
            </button>
            </c-col>
            </form>
            <button cButton class="px-0" color="link" routerLink="/login"> 
              Already registered? Click here to Login
            </button>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>



<!--
<div class="row">
  <div class="col-sm-6 offset-3">
      <div class="text-center">
          <h4>
              Sign Up
          </h4>

      </div>
      <form [formGroup]="userForm"
            (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text"
                     formControlName="username"
                     class="form-control"
                     [ngClass]="{'is-invalid':username.errors && username.touched}"
                     id="username"
                     placeholder="Username">
              <div class="invalid-feedback"
                   *ngIf="username.hasError('usernameTaken')">
                  Username is taken
              </div>
              <div class="invalid-feedback"
                   *ngIf="username.hasError('required')">
                  Username is required
              </div>
              <div class="invalid-feedback"
                   *ngIf="username.hasError('minlength')">
                  Username must be at least 3 characters
              </div>

          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="text"
                     formControlName="password"
                     class="form-control"
                     [ngClass]="{'is-invalid':password.errors && password.touched}"
                     id="password"
                     placeholder="Password">
              <div class="invalid-feedback"
                   *ngIf="password.hasError('required')">
                  Password is required
              </div>

          </div>
          <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password"
                     formControlName="confirmPassword"
                     class="form-control"
                     [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched}"
                     id="confirmPassword"
                     placeholder="Confirm Password"
                     autocomplete>
              <div class="invalid-feedback"
                   *ngIf="confirmPassword.hasError('passwordMismatch')">
                  Passwords Don't Match
              </div>
              <div class="invalid-feedback"
                   *ngIf="confirmPassword.hasError('required')">
                  Confirm password is required
              </div>

          </div>
          <section formGroupName="address">
              <div class="form-group">
                  <label for="inputStreet">Street</label>
                  <input type="text"
                         formControlName="street"
                         class="form-control"
                         id="inputStreet"
                         placeholder="1234 Main St">
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text"
                             formControlName="city"
                             class="form-control"
                             id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <select id="inputState"
                              formControlName="state"
                              class="form-control">
                          <option value=""
                                  disabled>Choose a state</option>
                          <option *ngFor="let state of stateOptions"
                                  [ngValue]="state">
                              {{ state }}
                          </option>

                      </select>
                  </div>
                  <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text"
                             formControlName="zip"
                             class="form-control"
                             id="inputZip">
                  </div>
              </div>
          </section>

          <section formArrayName="daysAvailable">

              <div class="row">
                  <div class="col-md-9">
                      <h4>Days Available</h4>
                  </div>
                  <div class="col-md-3">
                      <button class="btn btn-primary"
                              (click)="addDay()">Add Day</button>
                  </div>

              </div>


              <div class="form-group"
                   *ngFor="let day of daysAvailable.controls; let i=index">
                  <label>Day</label>
                  <input type="text"
                         [formControlName]="i"
                         class="form-control">

              </div>

          </section>

          <p>
              <button class="btn btn-success"
                      type="submit"
                      [disabled]="userForm.invalid"><i class="fas fa-save"></i> Save</button>
              <button class="btn btn-warning"
                      (click)="clear()"><i class="fas fa-snowplow"></i> Clear</button>
              <button class="btn btn-info"
                      (click)="autoFillAddress()"><i class="fas fa-address-card"></i> Auto Fill Address</button>
          </p>
      </form>

  </div>

</div>
-->