

  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">

            <form #customStylesForm="ngForm"
            (ngSubmit)="onSubmit1()"
            [gutter]="3"
            [validated]="customStylesValidated"
            novalidate
            cForm cRow
            class="needs-validation">

            <h1>Register</h1>
              <p class="text-medium-emphasis">Create a User account</p>
            <c-col [md]="4">
            <label cLabel for="validationCustom01">First name</label>
            <input cFormControl id="validationCustom01" [(ngModel)]="firstname" name="firstname" required type="text" />
            <c-form-feedback [valid]="false">Please enter a First Name</c-form-feedback>
            </c-col>
            
            <c-col [md]="4">
            <label cLabel for="validationCustom02">Last name</label>
            <input cFormControl id="validationCustom02" [(ngModel)]="lastname" name="lastname" required type="text" />
            <c-form-feedback [valid]="false">Please enter a Last Name</c-form-feedback>
            </c-col>
    
            <c-col [md]="4">
            <label cLabel for="validationCustomUsername">Username</label>
            <c-input-group class="has-validation">
            <span cInputGroupText id="inputGroupPrepend">@</span>
            <input aria-describedby="inputGroupPrepend" cFormControl id="validationCustomUsername" [(ngModel)]="username" name="username" required type="text"/>
            <c-form-feedback [valid]="false">Please enter a Username</c-form-feedback>
            </c-input-group>
            </c-col>

            <div>
              <c-col [md]="4">
              <label cLabel for="validationMobile">Mobile</label>
              <input cFormControl id="validationMobile" required type="phone" [(ngModel)]="mobile" name="mobile" required ng-pattern="^(\([0-9]{3}\)|[0-9]{3}-)[0-9]{3}-[0-9]{4}$" minlength="8" maxlength="8"/>
              <c-form-feedback [valid]="false">Please enter a valid Mobile Number</c-form-feedback>
              </c-col>
            </div>

            <c-col [md]="6">
            <label cLabel for="validationCustom03">DOB</label>
            <input cFormControl id="validationCustom03" [(ngModel)]="dob" name="dob" required type="date" />
            <c-form-feedback [valid]="false">Please enter a valid Date of Birth</c-form-feedback>
            </c-col>


            <!--
              <mat-form-field appearance="fill">
                <mat-label>Custom calendar header</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
              </mat-form-field>
            -->
            



            
            <div>
            <c-col [md]="3">
            <label cLabel for="validationCustom04">Email</label>
            <input cFormControl id="validationCustom04" required type="email" [(ngModel)]="email" name="email" required ng-pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <c-form-feedback [valid]="false">Please enter a valid Email</c-form-feedback>
            </c-col>
            </div>  

            <div>
            <c-col [md]="3">
            <label cLabel for="validationCustom05">Password</label>
            <input cFormControl id="validationCustom05" [(ngModel)]="pw" name="pw" required type="text" />
            <c-form-feedback [valid]="false">Please enter a valid password</c-form-feedback>
            </c-col>
            </div>  

            
            <div>
              <c-col [md]="3">
              <label cLabel for="validationCustom05">Re-enter Password</label>
              <input cFormControl id="validationCustom05" [(ngModel)]="pw2" name="pw2" required type="text" />
              <c-form-feedback [valid]="false">Please enter a valid password</c-form-feedback>
              </c-col>
           </div>  
              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">Preference Selection (Please select at least 3: )</h6>
              <div>
                <c-col [md]="3">
                  <!--
                  <c-form-check>
                  <input cFormCheckInput id="validationSymposiums" required type="checkbox" />
                  <label cFormCheckLabel for="validationSymposiums">Symposiums</label>
                  </c-form-check>  -->
                  <div>
                    <c-form-check>
                      <input #saveCheckBoxAll id="saveCheckBoxAll" name="saveAll" type="checkbox" [checked]="saveAll" (change)="onSaveCheckboxChanged(saveCheckBoxAll.checked)"/>
                      <label>Select All</label>
                    </c-form-check>
                    </div>
                  <div>
                  <c-form-check>
                    <input #saveCheckBox1 id="saveCheckBox1" name="saveCheckBox1" type="checkbox" [checked]="savebox1" (change)="onSaveCheckboxChanged(saveCheckBox1.checked)"/>
                    <label>Symposiums</label>
                  </c-form-check>
                  </div>

                  <div>
                  <c-form-check>
                    <input  #saveCheckBox2 id="saveCheckBox2" name="saveCheckBox2" type="checkbox" [checked]="savebox2" (change)="onSaveCheckboxChanged(saveCheckBox2.checked)"/>
                    <label >Exhibitions</label>
                  </c-form-check>
                  </div>

                  <div>
                  <c-form-check>
                    <input #saveCheckBox3 id="saveCheckBox3" name="saveCheckBox3" type="checkbox" [checked]="savebox3" (change)="onSaveCheckboxChanged(saveCheckBox3.checked)"/>
                    <label>Concerts</label>
                  </c-form-check>
                </div>

                <div>
                  <c-form-check>
                    <input  #saveCheckBox4 id="saveCheckBox4" name="saveCheckBox4" type="checkbox" [checked]="savebox4" (change)="onSaveCheckboxChanged(saveCheckBox4.checked)"/>
                    <label >Workshops</label>
                  </c-form-check>
                  </div>

                  <div>
                  <c-form-check>
                    <input #saveCheckBox5 id="saveCheckBox5" name="saveCheckBox5" type="checkbox" [checked]="savebox5" (change)="onSaveCheckboxChanged(saveCheckBox5.checked)"/>
                    <label>Dining</label>
                  </c-form-check>
                  </div>

                  <div>
                  <c-form-check>
                    <input  #saveCheckBox6 id="saveCheckBox6" name="saveCheckBox6" type="checkbox" [checked]="savebox6" (change)="onSaveCheckboxChanged(saveCheckBox6.checked)"/>
                    <label >Sports Activities</label>
                  </c-form-check>
                </div>

                </c-col>
              </div> 
            

            <hr class="my-4" />
            <c-col [xs]="12">
              <!--
              <c-form-check>
                <input cFormCheckInput id="invalidCheck" name="invalidCheck" required type="checkbox" />
                <label cFormCheckLabel for="invalidCheck">Agree to terms and conditions</label>
                <c-form-feedback [valid]="false">You must agree before submitting</c-form-feedback>
              </c-form-check>-->
              <c-form-check>                        
                <input  #saveCheckBoxAgree id="saveCheckBoxAgree" name="saveCheckBoxAgree" type="checkbox" [checked]="saveboxAgree" (change)="onSaveCheckbox(saveCheckBoxAgree.checked)"/>
                <label >Agree to terms and conditions</label>
              </c-form-check>


            </c-col>
            <c-col [xs]="12">
            <button cButton class="me-1" color="primary" type="submit" routerLink="/accountCreation"> <!--two-way data binding completed-->
              Submit 
            </button>
            <button (click)="onReset1()" cButton color="secondary" type="reset">
              Reset
            </button>
            </c-col>
            </form>
            <button cButton class="px-0" color="link" routerLink="/login"> 
              Already registered? Click here to Login
            </button>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>

